body {
	background-color: #c9bac8;
}

.form_style {
	margin-left: 40%;
	margin-right: 25%;
	padding-top: 10%;
}

.part_form {
	margin-bottom: 2px;
}

.entry_text_mes {
	white-space: nowrap;
	font-size: 22px;
	margin-left: 17px;
}

.href_reg {
	white-space: nowrap;
	padding-left: 8px;
}

.labels {
	margin-bottom: 2px;
}

#warning_message {
	white-space: nowrap;
}